{% extends 'main/base.html' %}

{% block title %}Buscar Propiedad{% endblock %}

{% block breadcrumb %}  Buscar una Propiedad{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-around mt-4">
       <a href="../buscar_dpto/" class="btn btn-primary btn-lg active"  role="button" aria-pressed="true" style='width:180px; height:50px'>Buscar Depto</a>
       <a href="../buscar_casa/" class="btn btn-primary btn-lg active"  role="button" aria-pressed="true" style='width:180px; height:50px'>Buscar Casa</a>
   </div>
{% endblock %}
